@charset "utf-8";
body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}


/* ---------HEADER--------- */
.header-recurso {
    height: 580px;
    width: 100%;
    margin-top: 0%;
    position: absolute;
    background: url(../img/recursos.png) center;
    background-size: cover;
}

.header-reserva {
    height: 580px;
    width: 100%;
    margin-top: 0%;
    position: absolute;
    background: url(../img/reserva.png) center;
    background-size: cover;
}

.header img {
    background: center center cover no-repeat fixed;
    width: 100%;
    margin-top: 0%;
    position: absolute;
}

.titulo-header {
    background-color: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 11%;
    padding-bottom: 11%;
    text-align: center;
}

.nombre-usu {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    margin-left: 13px;
    margin-top: 10px;
}


/* ---------MENU--------- */
.btn-menu {
    background-color: #d2d2d2;
    height: 210px;
    width: 100%;
    margin-top: 580px;
    position: absolute;
}

.col-sm-4 {
    width: 32.5%!important;
    display: flex;
    justify-content: center;
    background-color: #d2d2d2;
}

.btn-1,.btn-2,.btn-3{
    font-family: 'Montserrat', sans-serif;
    width: 270px;
    margin-top: 70px;
    justify-content: center;
    border: 2px solid #221821;
    border-radius: 5px;
    color: #221821;
    background-color: #d2d2d2;
    font-size: 20px;
    padding: 15px 30px;
  }

.btn-1:hover,.btn-2:hover,.btn-3:hover {
    background-color: #221821;
    color: white;
    text-decoration:none;
}

.btn-1 a:hover,.btn-2 a:hover,.btn-3 a:hover{
    color: white;
    text-decoration:none;
}

.sep {
    background-color: #d2d2d2;
    padding-top: 765px;
}

.sep-de {
    width: 50%;
    height: 60px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid white;
}

.sep-iz {
    width: 50%;
    height: 60px;
    border-left: 50px solid transparent;
    border-bottom: 35px solid white;
}

/* ---------BODY--------- */
.cuerpo {
    width: 100%;
    height: 100%;
}

.filtro {
    width: 90%;
    height: 65px;
    margin-left: 55px;
    margin-top: 60px;
    position: absolute;
    background-color: #221821;
}

/* ---------FOOTER--------- */
.footer {
    background-color: #221821;
    height: 300px;
    width: 100%;
    text-align: center;
    position: absolute;
    display: block;
}
